@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&family=Source+Code+Pro:wght@200&display=swap");
body {
  background-image: url(./Assets/Images/vaporwavy2.jpg);
  background-size: cover;
  background-repeat: repeat;
}

div {
  color: black;
}

label {
  color: black;
}

.zaraffa {
  height: 60px;
  color: white;
  font-size: larger;
}

.mainContainer {
  font-family: "Source Code Pro", monospace;
}

.badges {
  margin: 2px;
}

.todayState {
  font-size: 20px;
  text-decoration: underline;
}

.doneTodo {
  opacity: 0.3;
}

.notDoneTodo {
  opacity: 1;
}
