.todaySwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

.todaySwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.todaySlider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(12, 2, 10, 0.8);
  transition: 0.4s;
}

.todaySlider::before {
  position: absolute;
  content: "";

  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .todaySlider {
  background-color: rgba(112, 33, 96, 0.3);
}

input:checked + .todaySlider::before {
  transform: translateX(26px);
}
